:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font_color{
  background-color: #ebebff;
}

.logo{
  background-image: url(/assets/images/pst_logo.png);
  width: 200px;
  height: 200px;
  margin-top: 100px;
}