<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper logo">
          </div>
        </div>  
        <div class="col-md-8 ps-md-0 font_color">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2">PEOPLE STAFF TECHNOLOGIES <span>LLC</span></a>
            <h5 class="text-muted fw-normal mb-4">Log in to your account.</h5>
            <form class="forms-sample">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User ID</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="authCheck">
                <label class="form-check-label" for="authCheck">
                  Remember me
                </label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onLoggedin($event)">Login</button>
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Forgot password?</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>